
.idea/libraries/Dart_Packages.xml
*.xml
ND_Telemedicine/windows/flutter/generated_plugins.cmake
ND_Telemedicine/windows/flutter/generated_plugin_registrant.cc
ND_Telemedicine/windows/flutter/generated_plugin_registrant.h
*.xml
.idea/compiler.xml
